   *{
  padding: 0;
  margin: 0;
}

.m-f{
  font-family: 'Aclonica', sans-serif;
  text-transform: uppercase;
}

body{
  background-image: url(/media/back-img1.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.header{
  height: 100vh;
  color: #ffffff;
  line-height: 50px;
}

.header-content{
  padding-top: 40vh;
  text-align: center;
}

.header-content h1, .intro-content h1, .contact-section h1{
  font-size: 42px;
}

.header-content h2 span{
  color: #f1c11a;
  line-height: 100px;
}

.btn{
  height: 50px !important;
  margin-top: 45px !important;
  width: fit-content !important;
  background-color: transparent;
  border: 3px solid #ffffff;
  padding: 15px 35px;
  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
  transition: all 400ms ease-in-out;

}

.btn-fill{
  background-color: #ffffff;
  color: #000000;
}

.btn-fill:hover{
  background-color: #f1c11a;
  border-color: transparent;
}

.btn-trans:hover{
  background-color: #f1c11a;
  color: #000000;
  border-color: transparent;
}