{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/home.css' %}">
</head>
<body>
<main>
    <div class="header">
      <div class="container">
        <div class="header-content">
          <h1 class="m-f">Welcome to my blog.</h1>
          <h2>We should<span> write something</span> that <span>should not be forgotten!</span>!</h2>
          <a href="blog/" class="btn btn-trans" target="_blank">Visit My blogs</a>
          <a href="https://github.com/sushmitaraii1" target="_blank" class="btn btn-fill">Connect on Github</a>
        </div>
      </div>
    </div>
</body>
</html>